body {
    font-family:"Open-Sans", sans-serif;
    margin:0;
    background-color: #0079bf;
}
.navReal{
    margin:0px !important;
    background-color: #026aa7;
}

.miclase{
    background-color: #4d95bf;
    margin: 5px 0px 5px 0px !important;
    font-weight: bold;
    padding: 3px !important;
    background-color: #4d95bf;
    color: white;
}

.buscador {
    width: 200px;
}

.buscador-Icon{
    background: hsla(0,0%,100%,.3);
}

footer {
    height: 80px;
}

.headerPart{
    background-color: hsla(0,0%,100%,.3);
    border-radius: 3px;
    border: none;
}

.headerText{
    color:white !important;
    font-weight: bold;
}

.headerTextNormal{
    color:white !important;
}

.header-separador{
    border-left: 1px solid white !important;
}

.header-search {
    float: left;
    margin: 0 8px 0 0;
    position: relative;
    z-index: 1;
}

.inputIcon{
    color: white !important;
    background: transparent;
    border: none;

}

.inputHeader{
    width: 5em;
}

.userImage{
    font-size: 12;
    background-color: #d6dadc;
    border-radius: 30em;
}

.card-color{
    background-color:#e2e4e6 !important;
}

.card-body-form{
    padding: 0.5em !important;
}

.inputList{
    background-color: hsla(0,0%,100%,.3) !important;
   /* width: 90% !important;*/ 
    border: none !important;
    color: white !important;
}

.inputTask{
    background-color:  hsla(0,0%,40%,.3) !important;
    border: none !important;
    color: white !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}

@media (max-width: 630px) {
    .inputSearch{
        display: none;
    }
 }

 .imgLogo{
    width: 80px;
    height: 30px;
 }
 .imgUser{
    width: 30px;
    height: 30px;
 }

 .backTask:hover {
    background-color: lightgray !important;
    border-radius: 3px;
    margin-bottom: 4px !important;
}

.backTask{
    background-color: white !important;
    border-radius: 3px;
    margin-bottom: 4px !important;
}

.imgUserCat{
    
}